@font-face {
    font-family: 'MonuExt';
    src: url('MonuExt-Regular.woff2') format('woff2'),
        url('MonuExt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonuExt';
    src: url('MonuExt-Medium.woff2') format('woff2'),
        url('MonuExt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonuExt';
    src: url('MonuExt-SemiBold.woff2') format('woff2'),
        url('MonuExt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonuExt';
    src: url('MonuExt-Bold.woff2') format('woff2'),
        url('MonuExt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}